{%extends 'base.html'%}

{%block content%}
<h1>About Page is on process of creation </h1>
<h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur, nihil omnis! Et enim dolores quo at nostrum accusamus, hic, placeat facilis distinctio, natus assumenda aliquid excepturi accusantium incidunt dolor provident! lorem 
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, error animi? Praesentium delectus, odit dolor libero, facilis magni maiores minima non eligendi architecto dolorem modi, illum officia quibusdam minus molestiae.
</h2>

{%endblock%}